<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="renderer" content="webkit">

    <link th:href="@{/css/tableFilter.css}" rel="stylesheet">
    <link th:href="@{/css/font.css}" rel="stylesheet">
    <link th:href="@{/css/weadmin.css}" rel="stylesheet">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <script th:src="@{/layui/layui.js}"></script>

    <!--<script th:src="@{/system/js/jquery.min.js}"></script>-->
    <!--<script th:src="@{/system/js/bootstrap.min.js}"></script>-->
    <!--<script th:src="@{/system/js/plugins/layer/layer.min.js}"></script>-->
    <!--<script th:src="@{/system/js/plugins/jquery-form/jquery.form.js}"></script>-->
    <!--<script th:src="@{/system/js/plugins/validate/jquery.validate.min.js}"></script>-->
    <!--<script th:src="@{/system/js/plugins/validate/messages_zh.min.js}"></script>-->

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>
    <div  style="margin: 10px"  >
    <form id="productSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
        <div class="layui-form-item">
            <label class="layui-form-label">IMEI</label>
            <div class="layui-input-inline">
                <input id="imei" name="imei" autocomplete="off" class="layui-input" type="text"/>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">上传日期</label>
                <div class="layui-input-inline" style="width: 175px;">
                    <input  name="insertTimeStart" id="insertTimeStart" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 175px;">
                    <input name="insertTimeEnd" id="insertTimeEnd" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button class="layui-btn"  lay-submit="" lay-filter="searchSubmit">搜索</button>
            </div>
        </div>

    </form>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="play">播放</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="download">下载</a>
        </script>
    <div class="doc-content" id="doc-content">
        <table id="apitable" lay-filter="apitable"></table>
    </div>
    </div>
</div>
<script src="/js/dateUtils.js"></script>
<script type="text/javascript">
    layui.extend({
        tableFilter: '{/}../../js/tableFilter'
    });
    layui.use(['jquery', 'table','form', 'util','code'], function(){
        layui.code();
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            util = layui.util;

        //API演示
         apitable = table.render({
            elem: '#apitable'
            ,url:'/hm/getVideos'
            ,method: 'post' //默认：get请求
            , height: 'full-250'
            ,limits: [20,50,100,1000]
            ,limit: 20
            ,page: true,
            request: {
            pageName: 'page' //页码的参数名称，默认：page
                ,limitName: 'limit' //每页数据量的参数名，默认：limit
        },response:{
            statusName: 'code' //数据状态的字段名称，默认：code
                ,statusCode: 200 //成功的状态码，默认：0
                ,countName: 'totals' //数据总数的字段名称，默认：count
                ,dataName: 'list' //数据列表的字段名称，默认：data
        }

            ,  cols : [ [
                 {type:'checkbox'},
                 {field : 'imei', width: 200,title : 'IMEI',align: 'center' },
                 {field : 'serialNumber', width : 200, title : '视频录像的序列号',align: 'center'},

                 {field:'timeInterval', title: '录制时长',width: 200,align: 'center',templet:function (d) {
                         return   d.timeInterval +"s" ;
                     }
                 },
                 {field : 'fileName', width : 300, title : '文件名称', align: 'center'},
                 {field : 'filePath', width : 500, title : '文件路径', align: 'center'},
                 {field:'startTime', title: '开始时间',width: 200,align: 'center',templet:function (d) {
                         if (d.startTime == null) {return "";}
                         return util.toDateString(d.startTime, "yyyy-MM-dd HH:mm:ss");
                     }
                 },
                 {field:'endTime', title: '结束时间',width: 200,align: 'center',templet:function (d) {
                         if (d.endTime == null) {return "";}
                         return util.toDateString(d.endTime, "yyyy-MM-dd HH:mm:ss");
                     }
                 },

                 {field:'createTime', title: '上传日期',width: 200,align: 'center' ,templet:function (d) {
                         if (d.createTime == null) {return "";}
                         return util.toDateString(d.createTime, "yyyy-MM-dd HH:mm:ss");
                         }
                 },

                 {fixed: 'right', title:'操作', toolbar: '#barDemo', width:150 ,align: 'center'}
        ] ],
            done: function(res, curr, count){
                pageCurr=curr;
            }
        });


        //监听行工具事件
        table.on('tool(apitable)', function(obj){
            var data = obj.data;
            console.log(data);
            if(obj.event === 'play'){
                window.open("/upload/"+data.fileName);
            } else if(obj.event === 'download') {
                window.open("/hm/download/"+data.fileName);
            }});

        //监听表格复选框选择
        table.on('checkbox(apitable)', function(obj){
            console.log(obj.checked); //当前是否选中状态
        });


        //监听提交
        form.on('submit(userSubmit)', function(data){
            // TODO 校验
            formSubmit(data);
            return false;
        });

        var $ = layui.$, active = {
            /**批量删除*/
            del: function(){ //获取选中数据
                var checkStatus = table.checkStatus('apitable')
                    ,data = checkStatus.data;
                if(data.length<1){
                    alert("请选中一条记录！");
                    return false;
                }

                    var dataStr = JSON.stringify(data);
                    $.ajax({
                        type: "POST",
                        data: {data : dataStr},
                        url: "/product/delProduct",
                        success: function (res) {
                            console.log(typeof res);
                            if (res == "ok") {
                                layer.alert("操作成功",function(){
                                    layer.closeAll();
                                    load(res);
                                });
                            } else {
                                layer.alert(res,function(){
                                    layer.closeAll();
                                    //加载load方法
                                    load(res);//自定义
                                });
                            }

                        },
                        error: function (res) {
                            layer.alert("操作请求错误，请您稍后再试",function(){
                                layer.closeAll();
                                //加载load方法
                                load(res);//自定义
                            });
                        }
                    });

                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            },

        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });

    //搜索框
    layui.use(['form','laydate'], function(){
        var form = layui.form ,layer = layui.layer
            ,laydate = layui.laydate;
        //日期
        laydate.render({
            elem: '#insertTimeStart'
        });
        laydate.render({
            elem: '#insertTimeEnd'
        });
        //TODO 数据校验
        //监听搜索框
        form.on('submit(searchSubmit)', function(data){
            //重新加载table
            load(data);
            return false;
        });
    });

    layui.use('upload', function() {
        var $ = layui.jquery
            , upload = layui.upload;

        //指定允许上传的文件类型
        upload.render({
            elem: '#test3'
            ,url: '/product/upload'
            ,accept: 'file' //普通文件
            ,done: function(res){
                //上传完毕回调
                console.log(res)
                layer.open({
                    content: res.data
                    ,btn: ['下载']
                    ,yes: function(index, layero){
                        window.open("/product/exportExcel");
                    }
                    ,cancel: function(){
                        //右上角关闭回调
                        //return false 开启该代码可禁止点击该按钮关闭
                        window.parent.location.reload(); //刷新父页面
                    }
                });

            }
            ,error: function(){
                //请求异常回调
            }

        });

        //指定允许上传的文件类型
        upload.render({
            elem: '#test4'
            ,url: '/product/upload1'
            ,accept: 'file' //普通文件
            ,done: function(res){
                //上传完毕回调
                console.log(res)
                layer.open({
                    content: res.data
                    ,btn: ['下载']
                    ,yes: function(index, layero){
                        window.open("/product/exportExcel1");
                    }
                    ,cancel: function(){
                        //右上角关闭回调
                        //return false 开启该代码可禁止点击该按钮关闭
                        window.parent.location.reload(); //刷新父页面
                    }
                });

            }
            ,error: function(){
                //请求异常回调
            }

        });

    });

    /**
     * 重新刷新页面
     * */
    function load(obj){
        //重新加载table
        apitable.reload({
            where: obj.field
            , page: {
                curr: pageCurr //从当前页码开始
            }
        });
    }

</script>
</body>
</html>