<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

	<head>
		<meta charset="UTF-8">
		<title>日志系统</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link th:href="@{/css/font.css}" rel="stylesheet">
		<link th:href="@{/css/weadmin.css}" rel="stylesheet">
		<script th:src="@{/lib/layui/layui.js}"></script>


	</head>

	<body>
		<div class="weadmin-body" style=" overflow-y:auto;height:800px;" >
			<blockquote class="layui-elem-quote">欢迎使用远程日志系统！</blockquote>
			<div class="layui-fluid" style="overflow: hidden;">
				<div class="layui-row layui-col-space15">
					<div class="layui-col-md8">
						<div class="layui-card">
							<div class="layui-card-header">快捷方式</div>
							<div class="layui-card-body">
								<div class="layui-carousel weadmin-shortcut" lay-filter="shortcut" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 280px;">
									<div carousel-item="">
										<ul class="layui-row layui-col-space10 layui-this">
											<li class="layui-col-xs3">
												<a href=" " target="_blank">
													<i class="layui-icon">&#xe705;</i>
													<cite>帮助文档</cite>
													<p><span>关于系统使用说明文档</span></p>
												</a>
											</li>

											<li class="layui-col-xs3">
												<!--<a href="http://192.168.110.22:8082/ws/index" target="_blank">-->
												<a href="http://180.166.60.210:8082/ws/index" target="_blank">
													<i class="layui-icon">&#xe62c;</i>
													<cite>测试连接</cite>
													<p><span>本地测试通道</span></p>
												</a>
											</li>

											<li class="layui-col-xs3">
												<a href=" " target="_blank">
													<i class="layui-icon">&#xe735;</i>
													<cite>查看连接状态</cite>
													<p><span>查看连接设备状态</span></p>
												</a>
											</li>

										</ul>
										<ul class="layui-row layui-col-space10">

										</ul>

									</div>
									<div class="layui-carousel-ind">
										<ul>
											<li class="layui-this"></li>
											<li></li>
										</ul>
									</div>

								</div>

							</div>
						</div>
					</div>
					<div class="layui-col-md4">
						<div class="layui-card">
							<div class="layui-card-header">
								关于系统
								<i class="layui-icon" style="color: #FF5722;">&#xe756;</i>
							</div>
							<div class="layui-card-body layui-text weadmin-text">
								<p>远程日志系统一款方便查看日志的系统</p>
								<p>更多的使用技巧请查看<a href=" " target="_blank">帮助文档</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-col-lg12 layui-collapse" style="border: none;">
				<div class="layui-col-lg6 layui-col-md12">


					<!--统计信息展示-->
					<fieldset class="layui-elem-field" style="padding: 5px;">
						<!--系统公告-->
						<div class="layui-card">
							<div class="layui-card-header layui-elem-quote">系统公告</div>
							<div class="layui-card-body">
								<div class="layui-carousel weadmin-notice" lay-filter="notice" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 280px;">
									<div carousel-item="">
										<div class="">
											<a href="" target="_blank" class="layui-bg-red">2019年9月21日 远程日志系统小版本更新</a>
										</div>
										<div class="">
											<a href="" target="_blank" class="layui-bg-blue">远程日志系统正式发布</a>
										</div>
									</div>
									<div class="layui-carousel-ind">
										<ul>
											<li class="layui-this"></li>
											<li></li>
										</ul>
									</div>
								</div>

							</div>
						</div>
						<!--<legend>信息统计</legend>-->
						<blockquote class="layui-elem-quote font16">信息统计</blockquote>
						<div class="">
							<table class="layui-hide" lay-data="{even:true}" id="test"></table>
						</div>
					</fieldset>
				</div>
				<div class="layui-col-lg6 layui-col-md12">
					<fieldset class="layui-elem-field we-changelog" style="padding: 5px;">
						<!--更新日志-->
						<blockquote class="layui-elem-quote font16">发展历程&amp;更新日志</blockquote>
						<ul class="layui-timeline" style="height: 729px; overflow-y: auto;">
							<li class="layui-timeline-item">
								<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
								<div class="layui-timeline-content layui-text">
									<div class="layui-timeline-title">
										<h3>远程日志系统基础版本为V1.0.0</h3>
										<span class="layui-badge-rim">2019-09-21</span>
									</div>
									<ul>
										<li>远程日志系统基础版本为V1.0.0</li>
										<li>初版本发布</li>
									</ul>
								</div>
							</li>

						</ul>
					</fieldset>
				</div>
			</div>
		</div>
	</body>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/plugins/layer/layer.min.js}"></script>
	<script th:src="@{/js/plugins/jquery-form/jquery.form.js}"></script>
	<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
	<script th:src="@{/lib/layui/layui.all.js}"></script>
	<script type="text/javascript"  th:inline="none">
		layui.extend({
			admin: '{/}../../js/admin',
		});
		layui.use(['jquery', 'element','util', 'admin', 'carousel'], function() {
			var element = layui.element,
				$ = layui.jquery,
				carousel = layui.carousel,
				util = layui.util,
				admin = layui.admin;
			//建造实例
			carousel.render({
				elem: '.weadmin-shortcut'
				,width: '100%' //设置容器宽度
				,arrow: 'none' //始终显示箭头
				,trigger: 'hover'
				,autoplay:false
			});

			carousel.render({
				elem: '.weadmin-notice'
				,width: '100%' //设置容器宽度
				,arrow: 'none' //始终显示箭头
				,trigger: 'hover'
				,autoplay:true
			});

			$(function(){
				setTimeAgo(2018,0,1,13,14,0,'#firstTime');
				setTimeAgo(2019,5,20,16,0,0,'#lastTime');
			});
			function setTimeAgo(y, M, d, H, m, s,id){
			    var str = util.timeAgo(new Date(y, M||0, d||1, H||0, m||0, s||0));
			    $(id).html(str);
			    console.log(str);
			 };
		});

		layui.use('table', function(){
			var table = layui.table;

			table.render({
				elem: '#test'
				,url:'/index/getTotal'
				,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
				,cols: [
						[
					{field:'name',  title: '统计'}
					,{field:'devices', title: '设备'}
					,{field:'exceptions', title: '异常'}
					,{field:'users', title: '用户'}
					,{field:'vip', title: '管理员'}
				]
				]
			});
		});
	</script>

</html>