.image-box{
	border:0 !important;
	width: 150px !important;
	height: 150px;
}

.image-box section{
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
	float: left;
}

.image-box .upload-section{
	position: relative;
	display: inline-block;
}

.image-box .image-section{
	margin-right: 20px;
	margin-bottom: 20px;
}

.image-section:hover{
	border: 1px solid #f15134;
}

.image-section .image-shade{
	display: block;
	width: 100%;
	height: 100%;
	visibility: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9;
	background: rgba(0,0,0,.5);
}

.image-section:hover .image-shade{
	visibility: visible;
}

.image-section .image-zoom {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 80px;
    right: 80px;
    display: none;
    z-index: 10;
    background:url(../img/zoom.png) no-repeat center;
}

.image-section .image-delete {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 5px;
	right: 5px;
	display: none;
	z-index: 10;
	background:url(../img/delete.png) no-repeat center;
}

.image-section:hover .image-delete{
	display: block;
	cursor:pointer;
}

.image-section:hover .image-zoom{
    display: block;
    cursor:pointer;
}

.image-box .image-show{
	display: block;
	width: 100%;
	height: 100%;
}

.image-loading{
    border: 1px solid #D1D1D1;
	background:url(../img/loading.gif) no-repeat center;
}

.image-opcity{
	opacity: 0;
}

.upload-section .upload-input{
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
}

.upload-section .upload-btn {
	border:0;
	width: 150px;
	height: 150px;
	background:url(../img/upload.png) no-repeat center;
	display: inline-block;
}

.upload-section .upload-btn img{
	width: 150px;
	height: 150px;
    vertical-align:baseline !important;
}

.delete-modal{
	z-index: 1000;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
}
.delete-modal .modal-content{
	 width: 500px;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 margin-left: -250px;
	 margin-top: -80px;
	 background: white;
	 height: 160px;
	 text-align: center;
}

.modal-content p{
	margin: 0;
	padding: 0;
}
.modal-content .modal-tip{
	color: #555;
	height: 94px;
	line-height: 94px;
	font-size: 18px;
	border-bottom: 1px solid #D1D1D1;
}
.modal-content .modal-btn{

	height: 66px;
	line-height: 66px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}
.modal-content .modal-btn span{
	width: 49.8%;
	display:inline-block;
	text-align: center;
	color:#d4361d ;
	font-size: 18px;
	border-right: 1px solid #D1D1D1;
}

.modal-btn:hover span{
    cursor:pointer;
}

#zoom-shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	min-height: 800px;
    height: 100%;
    z-index: 1100;
    background-color: rgb(119, 119, 119);
    opacity: 0.7;
    cursor: pointer;
    display: none;
}
#zoom-box {
    position: absolute;
    padding: 20px;
    z-index: 1101;
    outline: none;
    display: none;
    height: auto;
    top: 25%;
    left: 25%;
}

#zoom-content {

    outline: none;
    overflow: hidden;
    z-index: 1102;
    border: 10px solid #fff;
    opacity: 1;
}

#zoom-content img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    border: none;
    outline: none;
    line-height: 0;
    vertical-align: top;
}