<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{admin/layout/app}">

<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>设备列表</h5>
                </div>
                <div class="ibox-content">
                    <form  class="form-horizontal m-t" method="get" id="cheacform">
                      <div class="col-sm-5">
                        <a th:if="${roleName == '管理员' || roleName == '项目经理'}" href="javascript:void(0)" onclick="add()" class="btn btn-info ">添加设备</a>
                        <a th:if="${roleName == '管理员' || roleName == '项目经理'}" href="/admin/dev/export"  class="btn btn-info ">下载模板</a>
                        <a th:if="${roleName == '管理员' || roleName == '项目经理'}" href="javascript:void(0)" onclick="exportImei()" class="btn btn-info ">批量导入</a>
                          <a href="/admin/dev/exportData" class="btn btn-info ">导出</a>
                     </div>

                        <div class="col-sm-3">
                            <label class="col-sm-4 control-label">项目名</label>
                            <div class="col-sm-8">
                                <input type="text" th:value="${projectName}" name="projectName" placeholder="请输入项目名"
                                       class="input-sm form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="col-sm-3 control-label">IMEI</label>
                            <div class="col-sm-9">
                                <input type="text" th:value="${keywords}" name="keywords" placeholder="请输入IMEI"
                                       class="input-sm form-control">
                            </div>


                        </div>
                        <div class="col-sm-1">
                                <span class="input-group-btn">
		                            <!--<button type="submit" class="btn btn-sm btn-info"> 搜 索</button>-->
                                    <button type="submit" id="submit" class="btn btn-sm btn-info" data-type="reload">查找</button>
                                </span>
                        </div>
                    </form>
                </div>

                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example"
                           style="margin-bottom: 0;">
                        <thead>
                        <tr>

                            <th>IMEI</th>
                            <th>项目名称</th>
                            <th>创建时间</th>
                            <th th:if="${roleName == '管理员' || roleName == '项目经理'}">操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr class="gradeX" th:if="${not #lists.isEmpty(list)}"
                            th:each="item:${list}">

                            <td th:text="${item.getImei()}"></td>
                            <td th:text="${item.getProject().getProjectName()}"></td>
                            <td th:text="${#dates.format(item.getCreateTime(),'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:if="${roleName == '管理员' || roleName == '项目经理'}" class="text-center">
                                <a class="delete" th:data="${item.getId()}"><i
                                        class="glyphicon glyphicon-trash"></i> 删除</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <!-- 分页代码 -->
                    <div class="row" th:with="list=${list}">
                        <div th:replace="admin/layout/page::html" ></div>
                    </div>
                    <!-- 分页代码结束 -->
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="my-script"  th:inline="javascript">

    function add(){
        layer.open({
            type: 2,
            title:'添加',
            area: ['50%', '90%'], //宽高
            content: '/admin/dev/add'
        })
    }

    function edit(id){
        layer.open({
            type: 2,
            title:'编辑',
            area: ['50%', '90%'], //宽高
            content: '/admin/dev/edit/'+id
        })
    }

    function exportImei(){
        layer.open({
            type: 2,
            title:'添加',
            area: ['50%', '90%'], //宽高
            content: '/admin/dev/exp'
        })
    }

    $('.delete').click(function () {
        var _this = this;
        swal({
            title: "您确定要删除这条数据吗",
            text: "删除后将无法恢复，请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "删除",
            closeOnConfirm: false,
            cancelButtonText: "再考虑一下…",
        }, function () {
            var id = jQuery(_this).attr('data');
            $.ajax({
                url:'/admin/dev/destroy/'+id,
                type:'DELETE',
                dataType:"json",
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="_csrf"]').attr('content')
                },
                success:function (response) {
                    console.log(typeof response);
                    if(response && response.code == 0){
                        swal({title: "删除成功！", type: 'success', text: "您已经永久删除了这条数据。"}, function () {
                            window.location.reload();
                        });
                    }else{
                        swal("删除失败", response.data, "error");
                    }

                },

            });

        });
    });
</script>