<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{admin/layout/app}">


<head>
    <style>
        .form-group label:after {
            content: '*';
            color: red;
            font-size: 8px;
        }
    </style>
</head>
<div layout:fragment="content" >
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form th:action="@{/admin/pro/save}" method="post" class="form-horizontal m-t" id="roleForm" >
                <div class="form-group">
                    <label class="col-sm-3 control-label">项目名称</label>
                    <div class="col-sm-8">
                        <input id="projectName"   name="projectName" class="form-control" type="text" aria-required="true" aria-invalid="true"  >
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-3">
                        <button class="btn btn-primary" type="submit">保 存</button>
                    </div>
                </div>
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            </form>
        </div>
    </div>
</div>
<script layout:fragment="my-script">

    $().ready(function () {
        var icon = "<i class='fa fa-times-circle'></i> ";
        $("#roleForm").validate({
            rules:{
                projectName:{
                    required:true,
                    maxlength:30
                }
            },
            messages:{
                projectName:{
                    required:icon+"请输入项目名称",
                    maxlength:icon+"项目名长度30个字符内",
                },

            },
            submitHandler:function (form) {
                var index = layer.load(1);
                $(form).ajaxSubmit({
                    dataType:"json",
                    success:function (response) {
                        if(response && response.code == 0){
                            layer.close(index);
                            layer.msg(response.data);
                            setTimeout(function(){
                                window.parent.location.reload(); //刷新父页面
                            },500)
                        }else{
                            layer.msg(response.data);
                            layer.close(index);
                        }
                    },
                    error:function (response) {
                        layer.msg("请求错误");
                        layer.close(index);
                    }
                })
            }
        });

    })


</script>
