<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd"
       default-lazy-init="true">
   
<!--        <alias alias="elink_8700_01H_2011_messageBody"  name="elink_8700_2011_messageBody" /> -->
<!--        <alias alias="elink_8700_02H_2011_messageBody"  name="elink_8700_2011_messageBody" /> -->
<!--        <alias alias="elink_8700_03H_2011_messageBody"  name="elink_8700_2011_messageBody" /> -->
<!--        <alias alias="elink_8700_04H_2011_messageBody"  name="elink_8700_2011_messageBody" /> -->
<!--        <alias alias="elink_8700_05H_2011_messageBody"  name="elink_8700_2011_messageBody" /> -->
<!--        <alias alias="elink_8700_06H_2011_messageBody"  name="elink_8700_2011_messageBody" /> -->
<!--        <alias alias="elink_8700_07H_2011_messageBody"  name="elink_8700_2011_messageBody" /> -->
<!--        <alias alias="elink_8700_08H_2011_messageBody"  name="elink_8700_2011_messageBody" /> -->
<!--        <alias alias="elink_8700_09H_2011_messageBody"  name="elink_8700_2011_messageBody" /> -->
<!--        <alias alias="elink_8700_11H_2011_messageBody"  name="elink_8700_2011_messageBody" /> -->
</beans>